[submodule "libs/songbird"]
	path = libs/songbird
	url = git@github.com:eRgo35/songbird.git
[submodule "libs/serenity"]
	path = libs/serenity
	url = git@github.com:eRgo35/serenity.git
[submodule "libs/poise"]
	path = libs/poise
	url = git@github.com:eRgo35/poise.git
